<!--
  Card + BoletoPix payment template
  @category Vindi
  @package Vindi_VP
-->
<div class="payment-method" data-bind="css:{'_active':getCode()==isChecked()}">
    <div class="payment-method-title field choice">
        <input type="radio" name="payment[method]" class="radio"
               data-bind="attr:{id:getCode()}, value:getCode(), checked:isChecked, click:selectPaymentMethod, visible:isRadioButtonVisible()"/>
        <label data-bind="attr:{for:getCode()}" class="label">
            <span data-bind="text:getTitle()"></span>
        </label>
    </div>
    <div class="payment-method-content" data-bind="visible:isChecked()">
        <!-- messages -->
        <!-- ko foreach:getRegion('messages') -->
        <!-- ko template:getTemplate() --><!-- /ko -->
        <!-- /ko -->
        <div class="payment-method-billing-address">
            <!-- ko foreach:$parent.getRegion(getBillingAddressFormName()) -->
            <!-- ko template:getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>

        <!-- Credit Card Section -->
        <div class="cc-payment-section">
            <h3 data-bind="i18n:'Credit Card Payment'"></h3>
            <div class="field amount required" style="max-width:500px;">
                <label class="label"><span data-bind="i18n:'Amount with Credit Card:'"></span></label>
                <div class="control">
                    <input type="number" class="input-text"
                           data-bind="value:creditAmountDisplay, enable:isCreditEditable,
                            attr:{placeholder:$t('0.00')},
                            css:{'error-border':creditInvalid()}"/>
                    <!-- ko if:creditInvalid -->
                    <div class="error-message"
                         data-bind="text:$t('Credit amount cannot exceed order total of ') + formattedOrderTotal()"></div>
                    <!-- /ko -->
                </div>
            </div>
            <form class="form container-vindi">
                <fieldset data-bind="attr:{class:'fieldset payment items ccard '+getCode(),
                                 id:'payment_form_'+getCode()}" style="max-width:500px;">
                    <legend class="legend"><span data-bind="i18n:'Card Information'"></span></legend><br/>
                    <!-- saved profiles -->
                    <!-- ko if:hasPaymentProfiles() -->
                    <div class="field number required">
                        <label data-bind="attr:{for:getCode()+'_cc_payment_profile'}" class="label">
                            <span data-bind="i18n:'Your saved cards'"></span>
                        </label>
                        <div class="control">
                            <select name="payment[payment_profile]" class="input-text select"
                                    data-bind="attr:{
                        id:getCode()+'_cc_payment_profile',
                        'data-validate':JSON.stringify({
                          'required-number':true,
                          'validate-card-type':getCcAvailableTypesValues(),
                          'validate-card-number':'#'+getCode()+'_cc_type',
                          'validate-cc-type':'#'+getCode()+'_cc_type'
                        })
                      },
                      enable:isActive($parents),
                      options:getPaymentProfiles(),
                      optionsValue:'value',
                      optionsText:'text',
                      optionsCaption:$t('New Card'),
                      value:selectedPaymentProfile"></select>
                        </div>
                    </div>
                    <!-- /ko -->

                    <!-- card inputs -->
                    <div class="field number cc-number required vindi-cc-number-container"
                         data-bind="visible:!selectedPaymentProfile()">
                        <div class="credit-card-types-container">
                            <ul class="credit-card-types">
                                <!-- ko foreach:{data:getCcAvailableTypesValues(),as:'item'} -->
                                <li class="item"
                                    data-bind="css:{
                      _active:$parent.selectedCardType()==item.value,
                      _inactive:$parent.selectedCardType()!=null &&
                                $parent.selectedCardType()!=item.value
                    }">
                                    <!-- ko if:$parent.getIcons(item.value) -->
                                    <img data-bind="attr:{
                    src:$parent.getIcons(item.value).url,
                    alt:item.type,
                    width:$parent.getIcons(item.value).width,
                    height:$parent.getIcons(item.value).height
                  }"/>
                                    <!-- /ko -->
                                </li>
                                <!-- /ko -->
                            </ul>
                            <input type="hidden" name="payment[cc_type]" class="input-text-vindi"
                                   data-bind="attr:{
                       id:getCode()+'_cc_type',
                       'data-container':getCode()+'-cc-type'
                     }, value:creditCardType"/>
                        </div>
                        <div class="control">
                            <input name="payment[cc_number]" type="number" class="input-text-vindi"
                                   data-bind="attr:{
                       autocomplete:'off',
                       id:getCode()+'_cc_number',
                       placeholder:$t('Card Number'),
                       'data-validate':JSON.stringify({
                         'required-number':true,
                         'validate-vindi-card-number':'#'+getCode()+'_cc_number'
                       })
                     },
                     enable:isActive($parents),
                     value:vindiCreditCardNumber,
                     valueUpdate:'keyup'"/>
                        </div>
                    </div>

                    <div class="field number required"
                         data-bind="attr:{id:getCode()+'-cc-owner-container'},
                          visible:!selectedPaymentProfile()">
                        <div class="control">
                            <input type="text" name="payment[cc_owner]" class="input-text-vindi"
                                   data-bind="attr:{
                       id:getCode()+'_cc_owner',
                       placeholder:$t('Name on Card'),
                       'data-validate':JSON.stringify({'required-number':true})
                     },
                     enable:isActive($parents),
                     value:creditCardOwner,
                     valueUpdate:'keyup'"/>
                        </div>
                    </div>

                    <div class="field number required vindi-cc-exp-cvv"
                         data-bind="visible:!selectedPaymentProfile()">
            <span data-bind="attr:{id:getCode()+'-cc-exp-date-container'}">
              <input type="text" name="payment[cc_exp_date]" class="input-text-vindi"
                     pattern="\d{2}\/\d{2}" maxlength="5" inputmode="numeric"
                     oninput="this.value=this.value
                       .replace(/\D/g,'')
                       .replace(/^(\d{2})(\d)/,'$1/$2')
                       .substr(0,5);"
                     data-bind="attr:{
                       id:getCode()+'_cc_exp_date',
                       placeholder:$t('Expiration Date'),
                       'data-validate':JSON.stringify({'required-number':true})
                     },
                     enable:isActive($parents),
                     value:creditCardExpDate,
                     valueUpdate:'keyup'"/>
            </span>
                        <!-- ko if:hasVerification() -->
                        <span data-bind="attr:{id:getCode()+'-cc-cvv'}">
              <input type="text" name="payment[cc_cvv]" class="input-text-vindi"
                     maxlength="4" autocomplete="off"
                     data-bind="attr:{
                       id:getCode()+'_cc_cid',
                       placeholder:$t('CVV'),
                       'data-validate':JSON.stringify({
                         'required-number':true,
                         'validate-number':'#'+getCode()+'_cc_type'
                       })
                     },
                     enable:isActive($parents),
                     value:creditCardVerificationNumber"/>
            </span>
                        <!-- /ko -->
                    </div>

                    <!-- ko if:installmentsAllowed() -->
                    <div class="field number required installments"
                         data-bind="attr:{id:getCode()+'_installments'}">
                        <div class="control">
                            <select name="payment[cc_installments]" class="select credit-card-installments"
                                    data-bind="attr:{
                        id:getCode()+'_installments',
                        'data-validate':JSON.stringify({
                          required:true,
                          'validate-cc-exp':'#'+getCode()+'_expiration_yr'
                        })
                      },
                      enable:isActive($parents),
                      disable:isInstallmentsDisabled,
                      options:creditCardInstallments,
                      optionsValue:'value',
                      optionsText:'text',
                      optionsCaption:$t('Installments'),
                      value:selectedInstallments"/>
                        </div>
                    </div>
                    <!-- /ko -->

                </fieldset>
            </form>
        </div>

        <div class="checkout-agreements-block">
            <!-- ko foreach:$parent.getRegion('before-place-order') -->
            <!-- ko template:getTemplate() --><!-- /ko -->
            <!-- /ko -->
        </div>

        <div class="actions-toolbar">
            <div class="primary">
                <button class="action primary checkout" type="submit"
                        data-bind="click:placeOrder,
                           attr:{title:$t('Place Order')},
                           css:{disabled:!isPlaceOrderActionAllowed()},
                           enable:getCode()==isChecked()">
                    <span data-bind="i18n:'Place Order'"></span>
                </button>
            </div>
        </div>
    </div>
</div>
